/application/var/*
!/application/var/cache/.gitkeep
!/application/var/logs/.gitkeep
/application/vendor/
/application/.php_cs.cache
/application/.env
/application/phpunit.xml

/build/

# Backup entities generated with doctrine:generate:entities command
**/application/src/Entity/*~

# Embedded web-server pid file
/.web-server-pid

/.idea/
